.btn-icon {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    font-size: 10pt;
    font-weight: 400;
    user-select: none;

    width: 64px;
    height: 64px;
    margin: 0 10px;


    img {
        width: 32px;
        height: 32px;
    }

    &:hover {
        background-color: #EEEEEE;
    }

    transition: all 0.05s ease;
    &:active {
        transform: scale(0.95);
    }
}
