@media (min-width: 769px) {
    .sp-search{
        display: none !important;
    }
}
@media (max-width: 768px) {
    .pc-search{
        display: none !important;
    }
    .sp-search{
        margin:10px;
        width:100%;
    }
}
#main-list {
    width: 100%;
    height: 100vh;
    flex-direction: column;

    #toolbar > div {
        align-items: center;
        width: 100%;
        justify-content: center;

        input {
            width: 50%;
            font-size: 15pt;
            padding: 6px;
            border: 1px solid #142C87;
            margin-left: auto;
        }

        select {
            font-size: 15pt;
            padding: 6px;
            height: 42px;
            width: 150px;
            background-color: #EEEEEE;
            border: 0;
            color: #142C87;
            -moz-appearance: none;
            position: relative;
        }

        .btn-icon {
            margin-left: auto;
        }
    }

    #filterLayout{
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        // flex-wrap: nowrap;
        // width: 100%;
        // div{
        //     display: block;
        // }
        padding-left: 50px;
        padding-right: 50px;
        @media screen and (max-width: 768px) {
            padding-left: 10px;
            padding-right: 10px;
        }
        .swiper-slide{
            div{
            display: block!important;
            }
        }
        .flex-div{
            div{
                 display: block!important;
            }
        }
        .active{
            border: 1px solid #142C87;
            border-radius: 100%;
            background-color: #142C87;
            width: 60px;
            height: 60px;
            margin: auto;
        }
        .inActive{
            border: 1px solid #142C87;
            border-radius: 100%;
            margin: auto;
            width: 60px;
            height: 60px;
            transition: .5s;
        }
        img{
            width: 40px;
            height: 40px;
            cursor: pointer;
            margin: 10px;
        }
    }
    #products {
    //     overflow-y: scroll;
    //     width: 100%;

    //     display: grid;
    //     grid-template-columns: auto 2fr 1fr 3fr auto 150px;

        .header {
    //         // display: contents;

            & > tr {
                background-color: white;
    //             position: sticky;
    //             top: 0;
                font-size: 20pt;
                padding: 10px 15px;
                margin: 0;
    //             z-index: 9999;

                &:nth-child(3), &:nth-child(4) {
                    justify-content: center;
                }
                td {
                    @media screen and (max-width: 768px) {
                        font-size: 15pt;
                        &:nth-child(3), &:nth-child(4){
                            display: none;
                        }
                        &:nth-child(1),  &:nth-child(2), &:nth-child(5), &:nth-child(6){
                            width:25%;
                        }     
                    }

                }
            }
        }

        .product, .label {
    //         display: contents;

            & > td {
                margin: 4px 0;
                padding: 6px 6px;
                font-size: 11pt;
                font-weight: 400;

                // &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                //     display: block;
                //     white-space: nowrap;
                //     overflow: hidden;
                //     text-overflow: ellipsis;
                //     max-width: 100%;
                // }
                &:nth-child(1),  &:nth-child(2),  &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6){
                    width: 16.6%;
                    text-align: center;
                }
                & >div{
                    display: inline-block;
                }
                @media screen and (max-width: 768px) {
                    &:nth-child(3), &:nth-child(4){
                        display: none;
                    }
                    &:nth-child(1),  &:nth-child(2), &:nth-child(5), &:nth-child(6){
                        width:25%;
                    }     
                }
            }
        }

        .product {
            & > td {
                background-color: #EEEEEE;
            }

            &:hover > td {
                background-color: #CCCCCC;
                cursor: pointer;
            }
        }

    //     & > div > div:first-child {
    //         padding-left: 20px;
    //     }

    //     & > div > div:last-child {
    //         justify-content: center;

    //         &:hover {
    //             text-decoration: underline;
    //         }
    //     }
    }
}

