#main-edit {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;

    #toolbar {

    }

    #toolbar > div {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;

        h1 {
            font-weight: 400;
        }

        .buttons {

        }
    }

    #editor {
        border-top: 5px solid #DBDBDB;
        padding-top: 15px;


        box-sizing: border-box;

        width: 100%;
        height: calc(100vh - 80px);

        #canvas {
            width: 100%;
            height: 100%;
        }

        #settings {

            flex-wrap: wrap;
            align-content: flex-start;
            overflow-y: scroll;

            width: 950px;
            padding: 5px;
            padding-left: 30px;
            box-sizing: border-box;

            .label {
                flex-direction: column;
                margin-bottom: 10px;
                width: 100%;

                h3 {
                    font-weight: 400;
                }
            }

            input[type=text], textarea {
                border: 1px solid #EEEEEE;
                margin: 0 5px;
            }

            .filedrop {
                width: 100%;
                border: 1px solid #EEEEEE;
                height: 300px;
                display:flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;



                .pic {
                    width: 50%;
                    height: 50%;
                    position: relative;

                    img {
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                    }

                    .delimg {
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 9999;
                        color:red;
                        font-weight: bold;
                        cursor:pointer;
                        transition: all 100ms ease;
                        user-select: none;
                        &:hover {
                            transform: scale(1.4);
                        }
                    }

                    .progress-bar {
                        position: absolute;
                        bottom: 0;
                    }

                }
            }
        }
    }
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.promotion{
    .promotion-layout{
        p{
            font-size: 14px;
            font-weight: 400;
        }
    button{
        background-color:#eee;
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 11px;
        border-radius: 5px;
    }
    input{
        border: 1px solid #EEEEEE;
    }
    .check-button{
        padding-top: 9px;
    }
}
}
